.products {
    &-main {
        padding: 15px;
        @media screen and (min-width: 380px) {
            padding: 0 25px;
        
        }
        @media screen and (min-width: 740px) {
            padding: 0 35px;
        
        }
        @media screen and (min-width: 800px) {
            padding: 0 50px;
        
        }
        @media screen and (min-width: 850px) {
            padding: 0 70px;
        
        }

        @media screen and (min-width: 950px) {
            padding: 0 130px;
        
        }
        
        @media screen and (min-width: 1200px) {
            width: 55%;
            padding: 0 25px;
            box-sizing: border-box;
        
        }
        
    }

    &-title {
        margin: 20px 0;
        text-align: center;
    }

    &-category {
        h3 {
            margin: 20px 15px;
        }
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;

        @media screen and (min-width: 650px) {
            grid-template-columns: repeat(4, 1fr);
            
        }
        @media screen and (min-width: 950px) {
            grid-template-columns: repeat(5, 1fr);
            
        }
    }

    &-item {
        @include flex;
        flex-direction: column;
        width: 95px;
        height: 130px;
        margin: 0;
        background-color: $color-bright;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px get-opacity($color-dark, 0.1);

        & >figure {
            width: 70px;
            height: 70px;
            margin-top: 10px;
            border-radius: 10px;

            img {
                width: inherit;
                height: inherit;
                border-radius: inherit;
            }
        }

        p:nth-of-type(1) {
            margin-top: 7px;
            font-weight: 500;
        }
        p:nth-of-type(2) {
            margin-top: 0;
            font-weight: 400;

        }

    }
    &-item:hover {
        cursor: pointer;
    }

}